@font-face {
    font-family: LT_Regular;
    src: url("/Fonts/LTSaeada-Regular.otf");
}
@font-face {
    font-family: LT_extralight;
    src: url("/Fonts/LTSAEADA-EXTRALIGHT.OTF");
}
@font-face {
    font-family: LT_light;
    src: url("/Fonts/LTSAEADA-LIGHT.OTF");
}
:root{
    /* button */
    --button_accent_color:#363636ff;
    --button_hover_color:#ece3e3ff;
    /* button end */
    /* vertcle hamburger icon */
    --verticle_back_color:#d2d2d2ff;
    /* vertcle hamburger icon end */
    /* commons */
    /* --base_border_radius:0.25rem;
    --big_border_radius:0.625rem; */


    --base_border_radius:clamp(0.13rem, 0.7vw ,0.25rem);
    --big_border_radius:clamp(0.4rem ,1.7vw, 0.625rem);

    /* --big_border_radius:1.7vw; */
    /* --big_border_radius:0.4rem; */


    --verticle_nav_height:355px;
    --base_anim_speed:0.25s;
    --margin_sides: clamp(0.5rem, 3vw, 1.25rem); 

    --base_blur_amount:7px;
    --small_blur_amount:4px;
    --big_blur_amount:9px;
    /* commons end */
    --major_div_major_fontsize:clamp(2rem, 10vw, 4.35rem);
    /* --major_div_major_fontsize_fixed:; */
    /* 70px; */
    /* --major_div_major_fontsize_relative:10vw; */
    --req_icon:'\00bb';
    --icon_font_size:28px;
    --left_icon_padding:1px;

    --background_thing:none;
}
html, body{
    overflow-x: hidden;
}
h1, h2, h3{
    font-weight: normal;
}
/* @media screen and (max-width:350px) {
    :root{
        --margin_sides:0.5rem;
    }
}
@media screen and (max-width:450px) and (min-width:350px) {
    
} */
/* @media screen and (max-width:450px)  {
    :root{
        --margin_sides:0.5rem;
        --base_border_radius:0.13rem;
        --big_border_radius:0.4rem;
    }
}
@media screen and (max-width:550px) and (min-width:450px) {
    :root{
        --margin_sides:0.75rem;
        --base_border_radius:0.13rem;
        --big_border_radius:0.4rem;
    }
}
@media screen and (max-width:700px) and (min-width:550px)  {
    :root{
        --margin_sides:0.83rem;
        --base_border_radius:0.13rem;
        --big_border_radius:0.4rem;
    }
}
@media screen and (max-width:800px) and (min-width:700px) {
    :root{
        --margin_sides:0.85rem;
        --base_border_radius:0.15rem;
        --big_border_radius:0.50rem;
    }
}
@media screen and (max-width:1025px) and (min-width:801px) {
    :root{
        --margin_sides:0.88rem;
        --base_border_radius:0.18rem;
        --big_border_radius:0.55rem;
    }
}
@media screen and (max-width:1200px) and (min-width:1025px) {
    :root{
        --margin_sides:0.93rem;
        --base_border_radius:0.2rem;
        --big_border_radius:0.6rem;
    }
}

@media screen and (max-width:1300px) and (min-width:1200px) {
    :root{
        --margin_sides:0.95rem;
        --base_border_radius:0.25rem;
        --big_border_radius:0.625rem;
    }
} */


::selection{
    background-color: #595959ff;
    color: #f4f4f4ff;
}
body{
    margin: 0;
    padding: 0;
    background-color: #ebebebff;
    font-family: LT_Regular;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

*{
    padding: inherit;
    margin: inherit;
    box-sizing: border-box; 
    scroll-behavior: smooth;
}



.logo_div{
    height: 150px;
    padding: 10px var(--margin_sides) 10px var(--margin_sides);
    border: #a8a8a8ff 1px dotted;
    margin: auto;
}
.logo_img{
    height: 100%;
    object-position: left;
    display: inline;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    cursor: pointer;
}
.Main_links_div{
    float: right;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    overflow: hidden;
}

/**Main links**/
.Main_links{
    color: #4c4949ff;
    position: relative;
    text-decoration: none;
    margin: 5px;
    width: 120px;
    padding: 15px 0px 15px 0px;
    border-radius: 4px;
    text-align: center;
    /**box-shadow: inset 0 0 0 0 #202020ff;**/
}
.Main_links:hover span{
    color: var(--button_hover_color);
    /**box-shadow: inset 110px 0 0 0 #202020ff;
    cursor: pointer;**/
}
/*Button slide animation*/
.Main_links::before{
    transition: ease var(--base_anim_speed);
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    bottom: 0;
    content: "";
    border-radius: 4px;
    background-color: var(--button_accent_color);
    background-image: var(--background_thing);
}
.donate{
    --background_thing: linear-gradient(90deg, #ee8e43,#f4be4a);
    --req_icon:'❤️';
    --icon_font_size:17px;
    --left_icon_padding:-5px;
}
.Main_links:hover::before{
    transition: all ease var(--base_anim_speed);
    left: 0;
    right: 0;
    z-index: -1;
}
/*Button arrow anim*/
.Main_links span{
    transition: var(--base_anim_speed);
    position: relative;
}
.Main_links span:after {
    content: var(--req_icon);
    font-size: var(--icon_font_size);
    position: absolute;
    opacity: 0;
    top: 22%;
    right: -20px;
    transition: var(--base_anim_speed);
}

.Main_links:hover span{
    padding-right: 20px;
}
.Main_links:hover span:after {
    opacity: 1;
    right: var(--left_icon_padding);
}
.Main_links.active{
    border: solid 1px var(--button_accent_color);
    transition: var(--base_anim_speed);
}
.Main_links.active:hover{
    border: solid 1px transparent;
}


/*main links done*/


/* normal button */
.normal_button{
    display: inline-block;
    -webkit-user-select: none;
    user-select: none;
    padding: 0.62em;
    border: 1px var(--button_accent_color) dashed;
    border-radius: 0.3em;
    position: relative;
    cursor: pointer;
    color: var(--button_accent_color);
    transition: var(--base_anim_speed);
    overflow: hidden;
    z-index: 1;
}
.normal_button:hover{
    color: var(--button_hover_color);
    border-color: transparent;
}
.normal_button::before {
    content: "";
    background-color: var(--button_accent_color);
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 100%;
    z-index: -1;
    transition: var(--base_anim_speed);
    border-radius: 0 100% 100% 0
}
.normal_button:hover::before{
    right: 0;
    color: var(--button_hover_color);
    border-radius: 0;
}


/* normal_button end */

/* experimental start */
.experimental_div{
    font-size: clamp(0.75em, 4vw, 1rem);

    height: 3em;
    width: 100%;
    
    display: flex;
    align-items: center;
    position: relative;

    background-image: url(Images/caution_thing.png);
    background-size: 32px 100%;
    background-color: #f2a62d;
    animation: caution_animation 15s infinite linear;
}
@keyframes caution_animation {
    0%{
        background-position: 0;
    }
    100%{
        background-position: 960px;
    }
}
.experimental_div p{
    color: #ffffff;
    z-index: 2;

    text-align: center;
    /* background-color: red; */

    margin: auto;
    font-size: 1.15em;
    filter: drop-shadow(0 0 3px #000000);
}
.experimental_div::after{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    content: "";
    background-image: linear-gradient(#00000077, #00000020, #00000077);
}

/* experimental end */
