:where(.card, .card *, #viewer *, #viewer, .clear_btn_parent, .clear_btn_parent *){
    padding: initial;
    margin: initial;
}

body{
    --brd_rad:1.3em;
    --side_mar:2rem;
    --side_mar:1rem;
    --side_mar:clamp(1rem, 0.737rem + 1.404vw, 2rem);
}

.contact_btn{
    font-size: 0.85em;
}

.card{
    padding: 2.5em;
    padding: 1.5em;
    padding: clamp(1.5em, 1.237em + 1.404vw, 2.5em);

    background-color: white;
    margin: 0 var(--side_mar) 2em;
    border-radius: var(--brd_rad);

    font-size: 1rem;
    font-size: 0.8rem;
    font-size: clamp(0.8rem, 0.747rem + 0.281vw, 1rem);
    
}
.card_top{
    font-size: 1.25rem;
    font-size: 1rem;
    font-size: clamp(1rem, 0.934rem + 0.351vw, 1.25rem);

    color: #656565;
    text-align: center;
    filter: drop-shadow(0 0 1em #3557897e);
    font-family: LT_light;
}
.sc_button{
    font-size: 1rem;
    font-size: 0.7rem;
    font-size: clamp(0.7rem, 0.621rem + 0.421vw, 1rem);
}

.post_image_scroller{
    position: relative;
}
.images_post{
    font-size: 1em;
    font-size: 0.7em;
    font-size: clamp(0.7em, 0.621em + 0.421vw, 1em);
    
    height: 18em;
    

    display: flex;
    gap: 0.5em;
    overflow-y: hidden;
    
    border-radius: 0.6em;
}
@media screen and (max-width:500px) {
    .btn_holder .normal_button, .clear_btn{
        flex: 1;
    }
}
.images_post img{
    height: 100%;
    border-radius: inherit;
}
.post_img{
    cursor: pointer;
    position: relative;
    border-radius: 0.6em;
}
.full_screen_prompt{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 1em;
    background-color: #0000007f;
    border-radius: inherit;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-flow: row wrap;
    gap: 0.2em;
    color: white;

    opacity: 0;
    transition: opacity var(--base_anim_speed) ease,
                font-size var(--base_anim_speed) ease;
}
.full_screen_prompt .symbol{
    --size:1.5em;
    width: var(--size);
    height: var(--size);
}

.post_img:hover .full_screen_prompt{
    opacity: 1;
    font-size: 1.1em;
}

.special_thanks{
    font-size: 0.8em;
    text-align: start;
    margin-top: 1em;
}

.post_text{
    margin-top: 3em;
    margin-top: 1.5em;

    margin-top: clamp(1.5em, 1.105em + 2.105vw, 3em);
}
.post_text .title{
    font-size: 1.8em;
    color: #2d2d2dff;
}
.post_text .date{
    margin-bottom: 0.3em;
    font-family: LT_light;
    color: #7b7b7b;
    font-size: 1.06em;
}
.post_text .desc{
    font-size: 1.2em;
    font-family: LT_light;
    margin-top: 0.7em;
    color: #4e4e4eff;
    white-space: pre-line;
}

.post_text .tags{
    margin: 1.7em 0em 1em;
    font-size: 1.15em;
    color: #989898;
    display: flex;
    align-items: center;
    gap: 0.4em;
    flex-flow: row wrap;
}
.post_text .tags a{
    background-color: #e4e4e4;
    color: #7a7a7a;
    border-radius: 0.4em;
    padding: 0.3em;
    text-decoration: none;

    cursor: pointer;
    transition: color var(--base_anim_speed),
                background-color var(--base_anim_speed);
}
.post_text .tags a:hover{
    background-color: #6d6d6d;
    color: #dedede;
}

.btn_holder{
    
    margin-top: 1.5em;

    display: flex;
    flex-flow: row wrap;
    gap: 0.7em;
}
.main_btn{
    --btn_back: #768089;
    --btn_fore: #dae0e9ff;
    --btn_col: #eff5ff;
    --btn_hover_col:#1b2431;
    --btn_min_width:14em;
}
.other_btn{
    --btn_fore: #768089;
    --btn_back: transparent;
    --btn_hover_col: #eff5ff;
    --btn_col:#1b2431;
}


#viewer{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    content: "";
    background-color: #000000c1;

    -webkit-backdrop-filter: blur(0.3em);
    backdrop-filter: blur(0.3em);
    padding: 1em;
    
    opacity: 0;
    
    transition: opacity var(--base_anim_speed);
    /* display: none; */

    font-size: 1rem;
    font-size: 0.75rem;
    font-size: clamp(0.75rem, 0.684rem + 0.351vw, 1rem);
}
#viewer .main_img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    filter: drop-shadow(0 0 2em #474747);
}
.view{
    height: 100%;
    width: 100%;
}
.close_btn{
    --base_col:#e7e7e7;

    font-family: inherit;
    font-size: inherit;
    position: absolute;
    top: 0.7em;
    right: 1em;
    --size:3.3em;
    height: var(--size);
    width: var(--size);
    padding: 0.8em;
    border-radius: 50%;
    background-color: transparent;
    border:solid 3px var(--base_col);
    cursor: pointer;

    filter: drop-shadow(0 0 0.2em #525252);
}
.close_btn::before{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    content: "";
    z-index: -1;
    border-radius: 50%;
    background-color: var(--base_col);

    transform: scale(0.4);
    opacity: 0;

    transition: transform var(--base_anim_speed),
                opacity var(--base_anim_speed),
                filter var(--base_anim_speed);
}
.close_btn > img{
    pointer-events: none;
    width: 100%;
    height: 100%;
    filter: invert(1);

    transition: filter var(--base_anim_speed);
}
.close_btn:hover::before{
    transform: scale(0.85);
    opacity: 1;
}
.close_btn:hover > img{
    filter: none;
}

#viewer.visible{
    opacity: 1;
}
html.viewer_active{
    overflow: hidden;
}
.clear_btn_parent{
    margin: 1em var(--side_mar);
    display: flex;
    justify-content: end;
}
.clear_btn{
    font-size: 1rem;
    font-size: 0.83rem;
    font-size: clamp(0.83rem, 0.785rem + 0.239vw, 1rem);
            
    --btn_min_width:13em;

    --btn_back: #ea6b6b;
    --btn_fore: #fd7777;
    --btn_col: #f4f4f4;
    --btn_hover_col:#ffffff;
    
}
.clear_btn .external_symbol{
    transition: filter var(--base_anim_speed),
                margin-right var(--base_anim_speed),
                transform var(--base_anim_speed);
}

.clear_btn.with_icon:hover .external_symbol{
    margin-left: 0;
    margin-right: 0.4em;
    filter: brightness(0) saturate(80%) invert(1);
    transform: rotate(90deg);
}

.hidden{
    display: none;
}