:where(.view_more, .view_more *){
    padding: initial;
    margin: initial;
}
@property --angle{
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}
.view_more{
    --angle:0deg;
    --grad:conic-gradient(from var(--angle), #87ff6dff, #ff4a4aff, #d2b4daff, #7ad5ceff, #87ff6dff);
    --btn_grad:linear-gradient(90deg, #9c5f5fff, #53889cff);
    animation: 5s spin linear infinite;

    --corner_rad: 2em;


    font-size: 1rem;
    font-size: 0.8rem;
    font-size: clamp(0.8rem, 0.657rem + 0.381vw, 1rem);
}
@keyframes spin{
    from{
        --angle:0deg;
    }
    to{
        --angle:360deg;
    }
}

.view_more{
    /* min-height: 8em; */
    /* height: max-content; */
    margin: var(--margin_sides);
    border-radius: var(--corner_rad);
    background-image: var(--grad);
    background-position: center;
    padding: 0.13em;
    position: relative;
}
.view_more::before{
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: var(--grad);
    border-radius: var(--corner_rad);
    z-index: -1;
    filter: blur(0.55em);
    opacity: 0.6;
}


.view_more_back{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: var(--corner_rad);
    overflow: hidden;
    position: relative;
    text-align: center;
    z-index: 1;

    padding: 1em;
    min-height: 8em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    
}
.view_more_back::before{
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: var(--grad);
    border-radius: var(--corner_rad);
    filter: blur(7.5em);
    pointer-events: none;
    opacity: 0.4;
}


.view_more_prompt{
    font-size: 1.6em;
    color: #3c3c3c;
}

.view_more .normal_button{

    --btn_corner_rad: 0.7em;

    border-radius: var(--btn_corner_rad);
    font-size: 1.15em;
    border: none;
    color: #f1f1f1;
    background-image: var(--btn_grad);
    padding: 0.7em 2em;
    overflow: visible;
}

.view_more .normal_button::before{
    content: none;
}
.view_more .normal_button::after{
    /* z-index: -1; */
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    content: "";
    background: var(--btn_grad);
    border-radius: var(--btn_corner_rad);
    z-index: -1;
    filter: blur(0.5em);

    transition: filter var(--base_anim_speed) ease;
}
.view_more .normal_button:hover::after{
    filter: blur(0.7em);
}
.view_more .normal_button img{
    width: 1.23em;
    height: 100%;
    object-fit: scale-down;
    margin-left: 0.2em;
    pointer-events: none;

    transition: margin-left var(--base_anim_speed) ease;
}
.view_more .normal_button:hover img{
    margin-left: 1em;
}

@media screen and (max-width:600px) {
    .view_more_back{
        flex-flow: column;
        padding: 2em;

        min-height: 12.5em;
        
        font-size: 0.9rem;
        font-size: 0.75rem;
        font-size: clamp(0.75rem, 0.6rem + 0.8vw, 0.9rem);
    }
}

.view_more.more_margin{
    margin-bottom: 3.5em;
}