.text_highlighter{
    display:inline-block;
    position:relative;
    height: var(--font_cus);
    width: calc( var(--font_cus) * 0.13);
    background-color: white;
    z-index: 10;
    border-radius: 2em;
    top:0.15em;
    left: 0em;
    
    animation: blinking_anim 0.8s infinite;
}
@keyframes blinking_anim {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}