.item_grid_design *{
    padding: initial;
    margin: initial;
}

.item_grid_design{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    --item_size:250px;
    --item_padding:5px;
    --title_font_size:1.2em;
    --big_border_radius:10px;
}
.design_item{
    height: var(--item_size);
    padding: var(--item_padding);
    position: relative;
    background-color: white;
    border-radius: var(--big_border_radius);
    overflow: hidden;
    filter: drop-shadow(0 0 2px var(--item_def_shadow));
    transition: var(--base_anim_speed);
}
.design_item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: calc(var(--base_anim_speed) / 3);
}
.design_item:hover img{
    transform: scale(1.2);
}
.design_item .design_title{
    font-size: var(--title_font_size);
    text-align: center;
    color: var(--button_hover_color);
    margin-bottom: 0.6em;
    transform: translateY(130%);
    opacity: 0;
    transition: var(--base_anim_speed);
}
.design_item:hover .design_title{
    transform: translateY(0%);
    opacity: 1;
}
.design_item .design_text{
    display: flex;
    align-items: end;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right:0;
    top: 100%;
    background-image: linear-gradient(1800deg, #3e3e3eea, transparent);
    z-index: 1;
    transition: var(--base_anim_speed);
}
.design_item:hover .design_text{
    top: 60%;
}
.design_title span{
    display: block;
    font-size: 0.7em;
    line-height: 1.2em;
}
.design_item:hover{
    transform: scale(1.02);
    filter: drop-shadow(0 0 5px var(--item_def_shadow));
}

@media screen and (max-width:400px) {
    .item_grid_design{
        grid-template-columns: 1fr 1fr 1fr;
        gap: 7px;
        --title_font_size:3vw;
        --item_padding:3px;
        --item_size:100px;
        /* --big_border_radius:4px; */
    }
}
@media screen and (max-width:500px) and (min-width:401px) {
    .item_grid_design{
        grid-template-columns: 1fr 1fr 1fr;
        --title_font_size:2.4vw;
        --item_size:130px;
        gap: 10px;
        --item_padding:4px;
        /* --big_border_radius:5px; */
    }
}
@media screen and (max-width:630px) and (min-width:500px) {
    .item_grid_design{
        grid-template-columns: 1fr 1fr 1fr;
        --title_font_size:2.4vw;
        --item_size:160px;
        gap: 10px;
        --item_padding:4px;
        /* --big_border_radius:5px; */
    }
}
@media screen and (max-width:750px) and (min-width:630px) {
    .item_grid_design{
        grid-template-columns: 1fr 1fr 1fr;
        --title_font_size:1em;
        --item_size:200px;
        --item_padding:5px;
        /* --big_border_radius:6px;         */
    }
}
@media screen and (max-width:800px) and (min-width:750px) {
    .item_grid_design{
        grid-template-columns: 1fr 1fr 1fr;
        --title_font_size:1.1em;
        --item_padding:5px;
        --item_size:230px;
        /* --big_border_radius:7px; */

    }
}
@media screen and (max-width:1025px) and (min-width:801px) {
    .item_grid_design{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        --item_padding:5px;
        --title_font_size:1em;
        --item_size:230px;
        /* --big_border_radius:7px; */
    }
}
@media screen and (max-width:1200px) and (min-width:1025px) {
    .item_grid_design{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        /* --big_border_radius:8.5px */
    }
}
@media screen and (max-width:1300px) and (min-width:1200px) {
    .item_grid_design{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.item_grid_design{
    --big_border_radius:clamp(4px, 1.2vw ,10px);
}