.footer_div{
    --color_sub_title:#abababff;
    --color_sub:#9c9c9cff;
    --color_sub_hover:#a68989;
    --color_main:#eeeeeeff;

    /* --footer_height:clamp(11rem, 55vw, 27rem); */
    /* 28rem; */
    /* font-size: clamp(0.3rem, 2vw, 1rem); */

    font-size: 0.65rem;
    font-size: 1rem;
    font-size: clamp(0.7rem, 0.571rem + 0.686vw, 1rem);


}

.footer_div, .footer_div *{
    margin: initial;
    padding: initial;
}
.footer_div{
    margin-top: 2em;
    background-color: #222222ff;
    height: var(--footer_height);
    overflow: hidden;
    padding-top: 1.5em;
    padding-bottom: 2em;
    
}

.footer_logo{
    width: 60%;
    height: 6em;
    /* margin: 2em 0 0 5%; */
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer_img{
    height: 80%;
    
}
.footer_logo_title{
    display: inline;
    color: #e2d5d5ff;
    font-size: 2em;
    margin-left: 0.5em;
    line-height: 0.4em;
}
.footer_logo_title span{
    font-size: 0.4em;
    color: var(--color_sub_title);
}

.footer_links_parent{
    width: 85%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    display: flex;
    /* justify-content: left; */
    justify-content: space-around;
    /* flex-direction: column; */
    gap: 2em;
    margin-bottom: 3em;

    /* background-color: black; */
    
}
/* .footer_links_section{

} */

.footer_links_title{
    /* background-color: white; */
    color: var(--color_main);
    font-size: 1.3em;
    margin-bottom: 0.1em;
}
.footer_links_list{
    color: var(--color_sub);
    list-style: none;
    font-size: 0.9em;
    display: inline-block;
    /* display: block; */
    margin: 0;
    padding: 0;
}
.footer_links_margin{
    margin-left: 2.5em;
}
.footer_links_list li{
    margin-top: 0.5em;
}

.github_thing_footer{
    color: var(--color_main);
    text-align: center;
    font-size: 1em;
    line-height: 1.1em;
    margin-bottom: 1em;
    margin-top: 0.5em;
}
.github_thing_footer span{
    color: var(--color_sub);
    font-size: 0.9em;
    
}
.separator_footer{
    height: 0.05em;
    width: 90%;
    background-color: var(--color_sub);
    border-radius: var(--big_border_radius);
    margin-left: auto;
    margin-right: auto;
}

.copyright_thing_footer{
    color: var(--color_main);
    text-align: center;
    margin-top: 1.3em;
    font-size: 1.15em;
    line-height: 1.1em;
}
.copyright_thing_footer span{
    color: var(--color_sub);
    font-size: 0.8em;
}

.footer_div a{
    cursor: pointer;
    text-decoration: underline dashed;
    text-underline-offset: 0.15em;
    text-decoration-color: transparent;
    transition: var(--base_anim_speed);
    color: var(--color_sub);
}
.footer_div a:hover{
    text-decoration-color: var(--color_sub_hover);
    color: var(--color_sub_hover);
}
@media screen and (max-width : 1000px) {
    .footer_links_parent{
        display: grid;
        width: 80%;
        /* gap: 1em; */
    }
    .footer_links_list{
        display: block;
    }
    .footer_links_margin{
        margin-left: 0;
    }
    .footer_links_list li{
        margin-top: 0.8em;
        font-size: 1.1em;
    }
}
@media screen and (max-width:1000px) {
    .footer_links_parent{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }    
}
@media screen and (max-width:900px) {
    .footer_links_parent{
        grid-template-columns: 1fr 1fr 1fr;
    }    
}

@media screen and (max-width:450px) {
    .footer_links_parent{
        grid-template-columns: 1fr 1fr;
    }    
}

/* @media screen and (max-width:750px)  {
    .footer_div{
        --footer_height:55vw;
        font-size: 2vw;
    }
}
@media screen and (max-width:800px) and (min-width:750px) {
    .footer_div{
        --footer_height:21rem;
        font-size: 0.73rem;
    }
}
@media screen and (max-width:1025px) and (min-width:801px) {
    .footer_div{
        --footer_height:24rem;
        font-size: 0.85rem;
    }
}
@media screen and (max-width:1200px) and (min-width:1025px) {
    .footer_div{
        --footer_height:26rem;
        font-size: 0.93rem;
    }
}

@media screen and (max-width:1300px) and (min-width:1200px) {
    .footer_div{
        --footer_height:27rem;
        font-size: 0.99rem;
    }
} */