/*bars*/
.icon{
    display: none;
    width: 50px;
    height: 45px;
    cursor: pointer;
    align-items: center;
    text-align: center;
    justify-content: center;
    -webkit-user-select: none;
    user-select: none;
    stroke: var(--button_accent_color);
    overflow: hidden;
}
.bars{
    font-size: 30px;
    font-weight: bolder;
    transition: var(--base_anim_speed);
}
.icon:hover{
    color: var(--button_hover_color);
    stroke: var(--button_hover_color);
}
.not_visible{
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 70px;
    right: 35px;
    border-radius: 4px;
    background-color: var(--verticle_back_color);
    height: 0px;
    transition: var(--base_anim_speed);
    opacity: 0;
    overflow: hidden;
}
.ver_vis {
    height: var(--verticle_nav_height);
    overflow: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 100px;
    right: 35px;
    border-radius: 4px;
    background-color: var(--verticle_back_color);
    transition: var(--base_anim_speed);
    z-index: 100;
}
@media screen and (max-width: 1010px) {
    .Main_links_div a:nth-last-child(2){display: none;}
    .Main_links_div a.icon{
        display: flex;
    }
}
@media screen and (max-width: 930px) {
    .Main_links_div a:nth-last-child(3){display: none;}
}
@media screen and (max-width: 795px) {
    .logo_div{height: 135px;}
    .Main_links_div a:nth-last-child(4){display: none;}
}

@media screen and (max-width: 655px) {
    .logo_div{height: 105px;}
    .Main_links_div a:nth-last-child(5){display: none;}
}
@media screen and (max-width:520px) {
  .Main_links_div a:nth-last-child(6){display: none;}
  .logo_div{height: 85px;}
}
@media screen and (max-width: 315px) {
    .Main_links_div a:nth-last-child(7){display: none;}
    .Main_links_div{ width: 100%; margin-top: -65px; float: right;}
}

/* Nav bar done */
.ham {
    cursor: pointer;
    transition: transform var(--base_anim_speed);
    -webkit-tap-highlight-color: transparent;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .hamRotate.active {
    transform: rotate(45deg);
  }
  .line {
    fill:none;
    transition: stroke-dasharray var(--base_anim_speed), stroke-dashoffset var(--base_anim_speed);
    stroke:inherit;
    stroke-width:5.5;
    stroke-linecap:round;
  }
  .ham7 .top {
    stroke-dasharray: 40 82;
  }
  .ham7 .middle {
    stroke-dasharray: 40 111;
  }
  .ham7 .bottom {
    stroke-dasharray: 40 161;
  }
  .ham7.active .top {
    stroke-dasharray: 17 82;
    stroke-dashoffset: -62px;
  }
  .ham7.active .middle {
    stroke-dashoffset: 23px;
  }
  .ham7.active .bottom {
    stroke-dashoffset: -83px;
  }