:where(.Know_more_section, .Know_more_section * :not(.normal_button)){
    padding: 0;
    margin: 0;
}

.Know_more_section{
    height: 25em;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: var(--button_accent_color);
    font-family: LT_light;
    text-align: center;
    background-color: #f4f4f4;
    gap: 1em;
    position: relative;
    overflow: clip;

    font-size: 0.68rem;
    font-size: clamp(0.68rem, 0.596rem + 0.449vw, 1rem);
}
.Know_more_section img{
    height: 6em;
    width: 6em;
    object-fit: contain;
}

.Know_more_section .normal_button{
    font-size: 1.2em;
    background-color: #74ad4c;
    color: white;
    border: none;
    filter: drop-shadow(0 0 0.5em #8dd35a);
}
.Know_more_section .normal_button::before{
    background-image: url(/Images/Know_more/Button_back.png);
    background-size: 7em;
}
.Know_more_section .normal_button:hover{
    color: var(--button_accent_color);
}

@supports(animation-timeline: view()){
    .Know_more_section{
        background-color: #65ff620e;
    }
    .Know_more_section::before{
        position: absolute;
        vertical-align: center;
        background-color: #f4f4f4;
        background-image: radial-gradient(#f4f4f4, #e1f4db);
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 5em;
        height: 5em;
        border-radius: 50%;
        content: "";
        animation: scale_up linear forwards;
        animation-timeline: view();
        animation-range-start: 20vh;
        animation-range-end: 60vh;
        transform: scale(0);
    }

    @keyframes scale_up {
        to{
            transform: scale(20);
        }
        
    }
}