


.section_text{
    position: relative;
    font-size: calc(var(--major_div_major_fontsize) * 0.4);
    margin: calc(var(--margin_sides)) var(--margin_sides) calc(var(--margin_sides) + 5px) var(--margin_sides);
    color: var(--button_accent_color);
    padding: 0 0 0.4em 0;
    display: inline-block;
    cursor: pointer;
    transition: var(--base_anim_speed);
    -webkit-user-select: none;
    user-select: none;
}
.section_text:hover{
    color: var(--button_hover_color);
    transform: translateX(0.6em);
}
.section_text::before{
    content: "";
    background-color: var(--button_accent_color);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 80%;
    top: 85%;
    /* width: 7vw; */
    transition: var(--base_anim_speed);
    border-radius: 0.2em;
    z-index: -1;
}
.section_text_60.section_text::before {
      right: 60%;
}
.section_text:hover::before{
    right: -0.6em;
    top: -0.55em;
    left: -0.6em;
}

.section_text::after{
    position: absolute;
    content: "See more \00bb";
    pointer-events: none;
    text-align: left;
    color: var(--button_accent_color);
    margin: 0;
    top: 16%;
    left: 100%;
    height: 100%;
    width: -moz-fit-content;
    width: fit-content;
    text-wrap: nowrap;
    font-size: calc(var(--major_div_major_fontsize) * 0.25);
    opacity: 0;
    transition: var(--base_anim_speed);
}
.section_text:hover::after{
    opacity: 1;
    color: #634730;
    margin: 0 0 0 1.5em;
}
.section_text.not_selectable{
    pointer-events: none;
}